<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <form [formGroup]="Signupform" (ngSubmit)="OnSignUp()">
        <mat-form-field appearance="fill" class="w-100 mb-3">
          <mat-label>Please Enter Your Name</mat-label>
          <input matInput formControlName="UserName">

          <strong class="text-danger" *ngIf="formControls['UserName'].touched&&  formControls['UserName'].hasError('required')">
            UserName is required field
          </strong>

          <ng-container *ngIf="formControls['UserName'].dirty">
            <strong class="text-danger" *ngIf="formControls['UserName'].hasError('minlength')">
              minimun length of UserName should be {{formControls['UserName'].errors?.['minlength'].requiredLength}}
              and the actual length is {{formControls['UserName'].errors?.['minlength'].actualLength}}
            </strong>

            <strong class="text-danger" *ngIf="formControls['UserName'].hasError('maxlength')">
              maximum length of UserName should be {{formControls['UserName'].errors?.['maxlength'].requiredLength}}
              and the actual length is {{formControls['UserName'].errors?.['maxlength'].actualLength}}
            </strong>

            <strong class="text-danger" *ngIf="formControls['UserName'].hasError('pattern')">
              Use letters only. Numbers and special characters are not allowed!!!
            </strong>

          </ng-container>

        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" class="w-100 mb-3">
          <mat-label class="text-center">Please Enter Your Email</mat-label>
          <input matInput formControlName="email">

          <strong class="text-danger"
            *ngIf="formControls['email'].touched && formControls['email'].hasError('required')">Email is required
            field</strong>
          <strong class="text-danger"
            *ngIf="formControls['email'].dirty&& formControls['email'].hasError('pattern')">Please enter a valid email
            address (e.g., name@example.com
            )</strong>
        </mat-form-field>
        <br>
        <button class="btn-block btn-lg" mat-raised-button color="primary">Primary</button>
      </form>
    </div>
  </div>
</div>